<h1>Application Development using Angular</h1>
<hr/>
<!-- <app-login></app-login>
<br><br><hr/>
<app-employee></app-employee>
<br><br><hr/>
<app-technology></app-technology>
<br><br><hr/>
<app-products></app-products>
<br><br><hr/>
<app-amount-calcumation></app-amount-calcumation>
<br><br><hr/>
<app-dept-list></app-dept-list>
<br><br><hr/>
<app-user></app-user>
<br><br><hr/>
<br><br><br><br><hr/>
<app-emp-list></app-emp-list> -->
<div style="text-align: center;">
    <a [routerLink]= "['/empDetails']">Employee Details</a> |
    <a [routerLink]= "['/']">Technology List</a> |
    <a [routerLink]= "['/products']">Products</a> |
    <a [routerLink]= "['/amountCalc']">Amount Calculation</a> |
    <a [routerLink]= "['/deptList']">Departments</a> |<br>
    <a [routerLink]= "['/user']">User</a> |
    <a [routerLink]= "['/empList']">Employee List</a> |
    <a [routerLink]= "['/login']">Vehicle Registration</a> |
    <a [routerLink]= "['/signin']">SignIn/Login</a> |
    <a [routerLink]= "['/signout']">Signout</a>
</div>
<router-outlet></router-outlet>